<%- include('partials/header') -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="mb3">
        <label for="blogTitle" class="form-label">Title:</label>
        <input class="form-control" type="text" name="blogTitle" id="blogTitle" placeholder="Blog Title">
    </div>
    <div class="mb3">
        <label for="blogBody" class="form-label">Body:</label>
        <textarea class="form-control" name="blogBody" id="blogBody" rows="10" placeholder="Blog goes here..."></textarea>
    </div>    
    <input class="btn btn-primary mb-3" type="submit" value="Publish">
</form>


<%- include('partials/footer') -%>